output/
config.toml

tools/
test/
testbundle/
old/

locales/tmp/
locales/backup/
locales/*TMP.json

.vscode/
.trae/
__pycache__/
build/
dist/
*.pyc
*.pyo
*.pyd

SpineConverter/
*.pdn
*.exe
*.lnk
*.ini
*.txt
